@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/shared/main_layout.cshtml";
}

<h2>Unable to delete. This job may not belong to you. @Html.ActionLink("Back To Portfolio List", "Edit")</h2>
